.date-picker {
    position: relative;
    display: inline-block;
    width: 100%;
}

.date-picker label{
    font-size: 13px;
    color: var(--main-text-color);
    margin: 0;
    font-weight: 500;
}

.date-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #F4F7FE;
    cursor: pointer;
    border-radius: var(--buttons-border-radius) !important;
    color: var(--main-text-color) !important;
    font-size: 14px !important;
    font-weight: normal !important;
    background-color: #F4F7FE;
    padding: 5px 10px!important;
    min-height: 40px;
    outline: 0!important;
}

.calendar {
    position: absolute;
    top: 40px;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E4E5E7;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.calendar .header span {
    font-size: 14px;
    color: #15183C;
    min-width: 200px;
    text-align: center;
}

.calendar .header button {
    height: auto;
    width: auto;
    background: transparent;
    border: none;
}

.calendar .header button svg path {
   stroke: #15183C;
}

.calendar .weekdays {
    color: #15183C;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.calendar .days {
    font-size: 14px;
}



.calendar .weekdays,
.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .weekdays div {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.calendar .weekdays div,
.calendar .days div {
    padding: 5px 0;
}

.calendar .days div {
    cursor: pointer;
}

.calendar .days div:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

.calendar .days .disabled {
    color: #ccc;
    cursor: not-allowed;
}

.calendar .days .selected {
    background-color: #5430F1;
    font-weight: 500;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.calendar .day.in-range {
    background-color: #5430F130;
    border-radius: 100%;
    font-weight: 500;
    color: #5430F1;
}

.calendar .day.start-date, .calendar .day.end-date {
    font-weight: 500;
    background-color: #5430F1;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.calendar .day.today {
    font-weight: 500;
    background-color: #5430F130;
    color: #5430F1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.time-option.disabled {
    color: #ccc; /* Color gris para indicar que está deshabilitado */
    pointer-events: none; /* No permite hacer clic */
    cursor: not-allowed;
}