    /*
    Flaticon icon font: Flaticon
    Creation date: 13/09/2017 08:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-laptop-8:before { content: "\f100"; }
.flaticon-002-chat-1:before { content: "\f101"; }
.flaticon-003-computer:before { content: "\f102"; }
.flaticon-004-internet-1:before { content: "\f103"; }
.flaticon-005-graphic-design-1:before { content: "\f104"; }
.flaticon-006-smartphone-9:before { content: "\f105"; }
.flaticon-007-coins:before { content: "\f106"; }
.flaticon-008-laptop-7:before { content: "\f107"; }
.flaticon-009-folder-2:before { content: "\f108"; }
.flaticon-010-network-1:before { content: "\f109"; }
.flaticon-011-video-call:before { content: "\f10a"; }
.flaticon-012-list-1:before { content: "\f10b"; }
.flaticon-013-diamond:before { content: "\f10c"; }
.flaticon-014-video-player:before { content: "\f10d"; }
.flaticon-015-responsive-1:before { content: "\f10e"; }
.flaticon-016-monitor-3:before { content: "\f10f"; }
.flaticon-017-post-office:before { content: "\f110"; }
.flaticon-018-laptop-6:before { content: "\f111"; }
.flaticon-019-desk:before { content: "\f112"; }
.flaticon-020-browser-2:before { content: "\f113"; }
.flaticon-021-eye:before { content: "\f114"; }
.flaticon-022-file-4:before { content: "\f115"; }
.flaticon-023-smartphone-8:before { content: "\f116"; }
.flaticon-024-graphic-design:before { content: "\f117"; }
.flaticon-025-idea-5:before { content: "\f118"; }
.flaticon-026-school-material:before { content: "\f119"; }
.flaticon-027-trophy:before { content: "\f11a"; }
.flaticon-028-settings-3:before { content: "\f11b"; }
.flaticon-029-file-3:before { content: "\f11c"; }
.flaticon-030-graphic-tablet:before { content: "\f11d"; }
.flaticon-031-analytics-10:before { content: "\f11e"; }
.flaticon-032-people:before { content: "\f11f"; }
.flaticon-033-chat:before { content: "\f120"; }
.flaticon-034-smartphone-7:before { content: "\f121"; }
.flaticon-035-browser-1:before { content: "\f122"; }
.flaticon-036-file-2:before { content: "\f123"; }
.flaticon-037-startup:before { content: "\f124"; }
.flaticon-038-analytics-9:before { content: "\f125"; }
.flaticon-039-couple:before { content: "\f126"; }
.flaticon-040-safebox:before { content: "\f127"; }
.flaticon-041-target-2:before { content: "\f128"; }
.flaticon-042-monitor-2:before { content: "\f129"; }
.flaticon-043-idea-4:before { content: "\f12a"; }
.flaticon-044-presentation-2:before { content: "\f12b"; }
.flaticon-045-piggy-bank:before { content: "\f12c"; }
.flaticon-046-analytics-8:before { content: "\f12d"; }
.flaticon-047-profits-3:before { content: "\f12e"; }
.flaticon-048-auction:before { content: "\f12f"; }
.flaticon-049-idea-3:before { content: "\f130"; }
.flaticon-050-monitor-1:before { content: "\f131"; }
.flaticon-051-profits-2:before { content: "\f132"; }
.flaticon-052-toolbox-1:before { content: "\f133"; }
.flaticon-053-analytics-7:before { content: "\f134"; }
.flaticon-054-settings-2:before { content: "\f135"; }
.flaticon-055-idea-2:before { content: "\f136"; }
.flaticon-056-responsive:before { content: "\f137"; }
.flaticon-057-analytics-6:before { content: "\f138"; }
.flaticon-058-clipboard:before { content: "\f139"; }
.flaticon-059-magnet:before { content: "\f13a"; }
.flaticon-060-settings-1:before { content: "\f13b"; }
.flaticon-061-calendar:before { content: "\f13c"; }
.flaticon-062-agenda:before { content: "\f13d"; }
.flaticon-063-cabinet:before { content: "\f13e"; }
.flaticon-064-building:before { content: "\f13f"; }
.flaticon-065-group-2:before { content: "\f140"; }
.flaticon-066-target-1:before { content: "\f141"; }
.flaticon-067-worldwide-1:before { content: "\f142"; }
.flaticon-068-curriculum-2:before { content: "\f143"; }
.flaticon-069-stickman:before { content: "\f144"; }
.flaticon-070-megaphone:before { content: "\f145"; }
.flaticon-071-list:before { content: "\f146"; }
.flaticon-072-work-schedule-1:before { content: "\f147"; }
.flaticon-073-laptop-5:before { content: "\f148"; }
.flaticon-074-target:before { content: "\f149"; }
.flaticon-075-strategy:before { content: "\f14a"; }
.flaticon-076-curriculum-1:before { content: "\f14b"; }
.flaticon-077-presentation-1:before { content: "\f14c"; }
.flaticon-078-presentation:before { content: "\f14d"; }
.flaticon-079-goal:before { content: "\f14e"; }
.flaticon-080-laptop-4:before { content: "\f14f"; }
.flaticon-081-money-bag:before { content: "\f150"; }
.flaticon-082-worldwide:before { content: "\f151"; }
.flaticon-083-idea-1:before { content: "\f152"; }
.flaticon-084-like:before { content: "\f153"; }
.flaticon-085-idea:before { content: "\f154"; }
.flaticon-086-padlock:before { content: "\f155"; }
.flaticon-087-inbox:before { content: "\f156"; }
.flaticon-088-ruler:before { content: "\f157"; }
.flaticon-089-email-1:before { content: "\f158"; }
.flaticon-090-profits-1:before { content: "\f159"; }
.flaticon-091-group-1:before { content: "\f15a"; }
.flaticon-092-medal:before { content: "\f15b"; }
.flaticon-093-wall-clock:before { content: "\f15c"; }
.flaticon-094-id-card:before { content: "\f15d"; }
.flaticon-095-folder-1:before { content: "\f15e"; }
.flaticon-096-networking-1:before { content: "\f15f"; }
.flaticon-097-folder:before { content: "\f160"; }
.flaticon-098-smartphone-6:before { content: "\f161"; }
.flaticon-099-analytics-5:before { content: "\f162"; }
.flaticon-100-smartphone-5:before { content: "\f163"; }
.flaticon-101-monitor:before { content: "\f164"; }
.flaticon-102-smartphone-4:before { content: "\f165"; }
.flaticon-103-smartphone-3:before { content: "\f166"; }
.flaticon-104-analytics-4:before { content: "\f167"; }
.flaticon-105-calculator:before { content: "\f168"; }
.flaticon-106-user-3:before { content: "\f169"; }
.flaticon-107-briefcase:before { content: "\f16a"; }
.flaticon-108-laptop-3:before { content: "\f16b"; }
.flaticon-109-smartphone-2:before { content: "\f16c"; }
.flaticon-110-analytics-3:before { content: "\f16d"; }
.flaticon-111-analytics-2:before { content: "\f16e"; }
.flaticon-112-analytics-1:before { content: "\f16f"; }
.flaticon-113-laptop-2:before { content: "\f170"; }
.flaticon-114-profits:before { content: "\f171"; }
.flaticon-115-smartphone-1:before { content: "\f172"; }
.flaticon-116-share:before { content: "\f173"; }
.flaticon-117-email:before { content: "\f174"; }
.flaticon-118-work-schedule:before { content: "\f175"; }
.flaticon-119-curriculum:before { content: "\f176"; }
.flaticon-120-laptop-1:before { content: "\f177"; }
.flaticon-121-user-2:before { content: "\f178"; }
.flaticon-122-user-1:before { content: "\f179"; }
.flaticon-123-file-1:before { content: "\f17a"; }
.flaticon-124-contract:before { content: "\f17b"; }
.flaticon-125-smartphone:before { content: "\f17c"; }
.flaticon-126-browser:before { content: "\f17d"; }
.flaticon-127-server-2:before { content: "\f17e"; }
.flaticon-128-networking:before { content: "\f17f"; }
.flaticon-129-server-1:before { content: "\f180"; }
.flaticon-130-laptop:before { content: "\f181"; }
.flaticon-131-group:before { content: "\f182"; }
.flaticon-132-internet:before { content: "\f183"; }
.flaticon-133-network:before { content: "\f184"; }
.flaticon-134-settings:before { content: "\f185"; }
.flaticon-135-newspaper:before { content: "\f186"; }
.flaticon-136-analytics:before { content: "\f187"; }
.flaticon-137-toolbox:before { content: "\f188"; }
.flaticon-138-server:before { content: "\f189"; }
.flaticon-139-user:before { content: "\f18a"; }
.flaticon-140-file:before { content: "\f18b"; }
    
    $font-Flaticon-001-laptop-8: "\f100";
    $font-Flaticon-002-chat-1: "\f101";
    $font-Flaticon-003-computer: "\f102";
    $font-Flaticon-004-internet-1: "\f103";
    $font-Flaticon-005-graphic-design-1: "\f104";
    $font-Flaticon-006-smartphone-9: "\f105";
    $font-Flaticon-007-coins: "\f106";
    $font-Flaticon-008-laptop-7: "\f107";
    $font-Flaticon-009-folder-2: "\f108";
    $font-Flaticon-010-network-1: "\f109";
    $font-Flaticon-011-video-call: "\f10a";
    $font-Flaticon-012-list-1: "\f10b";
    $font-Flaticon-013-diamond: "\f10c";
    $font-Flaticon-014-video-player: "\f10d";
    $font-Flaticon-015-responsive-1: "\f10e";
    $font-Flaticon-016-monitor-3: "\f10f";
    $font-Flaticon-017-post-office: "\f110";
    $font-Flaticon-018-laptop-6: "\f111";
    $font-Flaticon-019-desk: "\f112";
    $font-Flaticon-020-browser-2: "\f113";
    $font-Flaticon-021-eye: "\f114";
    $font-Flaticon-022-file-4: "\f115";
    $font-Flaticon-023-smartphone-8: "\f116";
    $font-Flaticon-024-graphic-design: "\f117";
    $font-Flaticon-025-idea-5: "\f118";
    $font-Flaticon-026-school-material: "\f119";
    $font-Flaticon-027-trophy: "\f11a";
    $font-Flaticon-028-settings-3: "\f11b";
    $font-Flaticon-029-file-3: "\f11c";
    $font-Flaticon-030-graphic-tablet: "\f11d";
    $font-Flaticon-031-analytics-10: "\f11e";
    $font-Flaticon-032-people: "\f11f";
    $font-Flaticon-033-chat: "\f120";
    $font-Flaticon-034-smartphone-7: "\f121";
    $font-Flaticon-035-browser-1: "\f122";
    $font-Flaticon-036-file-2: "\f123";
    $font-Flaticon-037-startup: "\f124";
    $font-Flaticon-038-analytics-9: "\f125";
    $font-Flaticon-039-couple: "\f126";
    $font-Flaticon-040-safebox: "\f127";
    $font-Flaticon-041-target-2: "\f128";
    $font-Flaticon-042-monitor-2: "\f129";
    $font-Flaticon-043-idea-4: "\f12a";
    $font-Flaticon-044-presentation-2: "\f12b";
    $font-Flaticon-045-piggy-bank: "\f12c";
    $font-Flaticon-046-analytics-8: "\f12d";
    $font-Flaticon-047-profits-3: "\f12e";
    $font-Flaticon-048-auction: "\f12f";
    $font-Flaticon-049-idea-3: "\f130";
    $font-Flaticon-050-monitor-1: "\f131";
    $font-Flaticon-051-profits-2: "\f132";
    $font-Flaticon-052-toolbox-1: "\f133";
    $font-Flaticon-053-analytics-7: "\f134";
    $font-Flaticon-054-settings-2: "\f135";
    $font-Flaticon-055-idea-2: "\f136";
    $font-Flaticon-056-responsive: "\f137";
    $font-Flaticon-057-analytics-6: "\f138";
    $font-Flaticon-058-clipboard: "\f139";
    $font-Flaticon-059-magnet: "\f13a";
    $font-Flaticon-060-settings-1: "\f13b";
    $font-Flaticon-061-calendar: "\f13c";
    $font-Flaticon-062-agenda: "\f13d";
    $font-Flaticon-063-cabinet: "\f13e";
    $font-Flaticon-064-building: "\f13f";
    $font-Flaticon-065-group-2: "\f140";
    $font-Flaticon-066-target-1: "\f141";
    $font-Flaticon-067-worldwide-1: "\f142";
    $font-Flaticon-068-curriculum-2: "\f143";
    $font-Flaticon-069-stickman: "\f144";
    $font-Flaticon-070-megaphone: "\f145";
    $font-Flaticon-071-list: "\f146";
    $font-Flaticon-072-work-schedule-1: "\f147";
    $font-Flaticon-073-laptop-5: "\f148";
    $font-Flaticon-074-target: "\f149";
    $font-Flaticon-075-strategy: "\f14a";
    $font-Flaticon-076-curriculum-1: "\f14b";
    $font-Flaticon-077-presentation-1: "\f14c";
    $font-Flaticon-078-presentation: "\f14d";
    $font-Flaticon-079-goal: "\f14e";
    $font-Flaticon-080-laptop-4: "\f14f";
    $font-Flaticon-081-money-bag: "\f150";
    $font-Flaticon-082-worldwide: "\f151";
    $font-Flaticon-083-idea-1: "\f152";
    $font-Flaticon-084-like: "\f153";
    $font-Flaticon-085-idea: "\f154";
    $font-Flaticon-086-padlock: "\f155";
    $font-Flaticon-087-inbox: "\f156";
    $font-Flaticon-088-ruler: "\f157";
    $font-Flaticon-089-email-1: "\f158";
    $font-Flaticon-090-profits-1: "\f159";
    $font-Flaticon-091-group-1: "\f15a";
    $font-Flaticon-092-medal: "\f15b";
    $font-Flaticon-093-wall-clock: "\f15c";
    $font-Flaticon-094-id-card: "\f15d";
    $font-Flaticon-095-folder-1: "\f15e";
    $font-Flaticon-096-networking-1: "\f15f";
    $font-Flaticon-097-folder: "\f160";
    $font-Flaticon-098-smartphone-6: "\f161";
    $font-Flaticon-099-analytics-5: "\f162";
    $font-Flaticon-100-smartphone-5: "\f163";
    $font-Flaticon-101-monitor: "\f164";
    $font-Flaticon-102-smartphone-4: "\f165";
    $font-Flaticon-103-smartphone-3: "\f166";
    $font-Flaticon-104-analytics-4: "\f167";
    $font-Flaticon-105-calculator: "\f168";
    $font-Flaticon-106-user-3: "\f169";
    $font-Flaticon-107-briefcase: "\f16a";
    $font-Flaticon-108-laptop-3: "\f16b";
    $font-Flaticon-109-smartphone-2: "\f16c";
    $font-Flaticon-110-analytics-3: "\f16d";
    $font-Flaticon-111-analytics-2: "\f16e";
    $font-Flaticon-112-analytics-1: "\f16f";
    $font-Flaticon-113-laptop-2: "\f170";
    $font-Flaticon-114-profits: "\f171";
    $font-Flaticon-115-smartphone-1: "\f172";
    $font-Flaticon-116-share: "\f173";
    $font-Flaticon-117-email: "\f174";
    $font-Flaticon-118-work-schedule: "\f175";
    $font-Flaticon-119-curriculum: "\f176";
    $font-Flaticon-120-laptop-1: "\f177";
    $font-Flaticon-121-user-2: "\f178";
    $font-Flaticon-122-user-1: "\f179";
    $font-Flaticon-123-file-1: "\f17a";
    $font-Flaticon-124-contract: "\f17b";
    $font-Flaticon-125-smartphone: "\f17c";
    $font-Flaticon-126-browser: "\f17d";
    $font-Flaticon-127-server-2: "\f17e";
    $font-Flaticon-128-networking: "\f17f";
    $font-Flaticon-129-server-1: "\f180";
    $font-Flaticon-130-laptop: "\f181";
    $font-Flaticon-131-group: "\f182";
    $font-Flaticon-132-internet: "\f183";
    $font-Flaticon-133-network: "\f184";
    $font-Flaticon-134-settings: "\f185";
    $font-Flaticon-135-newspaper: "\f186";
    $font-Flaticon-136-analytics: "\f187";
    $font-Flaticon-137-toolbox: "\f188";
    $font-Flaticon-138-server: "\f189";
    $font-Flaticon-139-user: "\f18a";
    $font-Flaticon-140-file: "\f18b";