@import url('../src/assets/icons/flaticon.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --buttons-border-radius: 4px;
  --main-color: #E9531E;
  --main-text-color: #292D32;
}

.table-controls-td {
  display: grid;
  gap: 10px;
  width: max-content;
  grid-template-columns: auto;
}

.table-controls-td-2{
  display: grid;
  gap: 10px;
  width: max-content;
  grid-template-columns: auto auto!important;
}


.table-controls-td-3{
  display: grid;
  gap: 10px;
  width: max-content;
  grid-template-columns: auto auto auto!important;
}


.table-controls-left {
  justify-content: flex-start;
  width: 100%!important;
}

.table-controls-center {
  justify-content: center;
  width: 100%!important;
}

.table-controls-rigth {
  justify-content: flex-end;
  width: 100%!important;
}

button {
  outline: 0;
}