.card-container{
    background-color: #fff;
    margin: 15px 0;
    border-radius: 20px;
    /* box-shadow: 0 0 20px 0px rgba(0,0,0,0.05); */
}

.card-container .card-title{
    border-bottom: 1px solid #eee;
    padding: 15px;
}

.card-container .card-title span {
    font-size: 16px;
    font-weight: 600;
    color:#333;
}

.card-container .card-body{
    padding: 15px;
}